<button type="button" class="btn btn-light" {{on "click" this.onNewFolder}}>
    <i class="bi bi-folder-plus"></i>
</button>

{{#if this.selected_node}}
    <button type="button" class="btn btn-light" {{on "click" this.onRename}}>
        <i class="bi bi-pencil"></i>
    </button>
{{/if}}


<Breadcrumb
    @items={{this.latestData.breadcrumb}}
    @isLoading={{this.myData.isLoading}}
    @onClick={{@onNodeClick}} />


{{#each this.latestData.nodes as |node|}}
    {{#let (component node.nodeType) (eq this.loading_uuid node.id) as |NodeType is_loading|}}
        <NodeType
            @node={{node}}
            @onClick={{@onNodeClick}}
            @is_loading={{is_loading}} />
    {{/let}}
{{else}}
    Empty
{{/each}}


<Modal::Rename
    @node={{this.selected_node}}
    {{show-when this.rename_modal}} />

<Modal::NewFolder {{show-when this.new_folder_modal}} />
