<button type="button"
    class="btn btn-light"
    {{on "click" this.onNewFolder}}>
    <i class="bi bi-folder-plus"></i>
</button>

{{#if this.only_one_node_selected}}
    <button
        type="button"
        class="btn btn-light"
        {{on "click" this.onRename}}>
        <i class="bi bi-pencil"></i>
    </button>
{{/if}}

{{#if this.multiple_nodes_selected}}
    <button
        type="button"
        class="btn btn-danger"
        {{on "click" this.onDeleteNodes}}>
        <i class="bi bi-trash"></i>
    </button>
{{/if}}

<Breadcrumb
    @items={{this.latest_data.breadcrumb}}
    @isLoading={{this.myData.isLoading}}
    @onClick={{@onNodeClick}} />

{{#each this.latest_data.nodes as |node|}}
    {{#let (component node.nodeType) (eq this.loading_uuid node.id) as |NodeType is_loading|}}
        <NodeType
            @node={{node}}
            @onClick={{@onNodeClick}}
            @onCheckboxChange={{this.onCheckboxChange}}
            @is_loading={{is_loading}} />
    {{/let}}
{{else}}
    Empty
{{/each}}

<Modal::Rename
    @node={{this.selected_node}}
    @modalClose={{this.renameModalClose}}
    {{show-when this.rename_modal}} />

<Modal::NewFolder
    @nodes={{this.latest_data.nodes}}
    @parent_id={{this.endpoint}}
    @modalClose={{this.newFolderModalClose}}
    {{show-when this.new_folder_modal}} />

<Modal::DeleteNodes
    @nodes={{this.latest_data.nodes}}
    @selected_nodes={{this.selected_nodes}}
    @modalClose={{this.deleteNodesModalClose}}
    {{show-when this.delete_nodes_modal}} />
