<div class="node folder">
    {{#if this.is_loading}}
        <Spinner />
    {{else}}
        <Spinner::Placeholder />
    {{/if}}

    {{!-- template-lint-disable require-input-label --}}
    <Input
        @type="checkbox"
        @checked={{this.is_selected}}
        {{on "change" this.onCheckboxChange}} />

    <div role="button" class="title d-flex flex-row align-items-center" {{on "click" this.onClick}}>
        <div class="icon folder"></div>
        <div class="mx-2">
            {{@node.attributes.title}}
        </div>
    </div>
</div>
