
<nav aria-label="breadcrumb" class="m-2 nav-breadcrumb">
    {{#if this.isLoading}}
        <Spinner />
    {{else}}
        <Spinner::Placeholder />
    {{/if}}
    <ul class="breadcrumb">
        {{#each this.items as |item|}}
            <Breadcrumb::Item
                @id={{get item 1}}
                @title={{get item 0}}
                @onClick={{@onClick}} />
        {{else}}
            Empty
        {{/each}}
    </ul>
</nav>
