{{page-title "CommanderTs"}}

<div class="container text-center">
  <div class="row">
    <div class="col">
        <Commander
            @endpoint={{this.endpoint}}
            @signal={{this.abort_controller.signal}}
            @isLoading={{this.isLoading}}
            @onLoadingStateChange={{this.onLoadingStateChange}}
            @onNodeClick={{this.onNodeClick}} />
    </div>
    <div class="col">
    </div>
  </div>
</div>
